<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./Global styles/style.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" rel="stylesheet"/>
</head>
<body>

<%- include('./Layout/navbar.ejs') %>

    <section id="HOME">
        <div class="Home-form">
            <h1 class="Home-form_header"><span>$0</span> DELIVERY FEES ON FIRST <span>ORDER</span></h1>

            <form action="">
                <div class="input-container">
                    <i class="ri-search-line"></i>
                    <input type="text" placeholder="Search for Menu items...">
                </div>
<br>

            <div style="display: flex;">
                <div class="input-container">
                    <i class="ri-map-pin-line"></i>
                    <input type="text" placeholder="Enter your Delivery Location"
                    style="width:350px;">
                </div>
                <button class="btn primary-btn"><i class="ri-map-2-line"></i></button>
            </div>
                
            </form>
        </div>
    </section>

    <section id="MENU">
        <div class="Menu-header">

            <h1>Order our best options</h1>

            <!-- <div class="Menu-header-btn">
                <button class="Menu-btn prev"><i class="ri-arrow-left-line"></i></button>
                <button class="Menu-btn next"><i class="ri-arrow-right-line"></i></button>
            </div> -->
        </div>

<!--all the components of this div is rendered form menu.js  -->
        <div class="Menu-carousel">
            <% data.forEach((value, index) => { %>
<div class="Menu-card" onclick="window.location.href='/MenuCard<%= index %>'">
    <div class="Menu-card_image">
        <img src="<%= value.image %>" alt="pizzas img">
        <h2>ITEMS AT $<%= value.price %></h2>
    </div>

    <div class="Menu-card_body">
        <div class="Menu-card_title">
            <h2>
                <svg width="24" height="24" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="15" cy="15" r="15" fill="#FEBC2F"/>
                    <path d="M15.0001 20.8252L8.67922 24.5454L10.0909 17.0749L4.77274 11.9038L11.966 11.007L15.0001 4.09082L18.034 11.007L25.2273 11.9038L19.9092 17.0749L21.3209 24.5454L15.0001 20.8252Z" fill="white"/>
                </svg>
                <%= value.rating %> <span>• <%= value.delivery_time %> mins</span>
            </h2>

            <div class="Menu-card_subtitles"><%= value.item %></div>
            <div class="Menu-card_subtitles"><%= value.location %></div>
        </div>
    </div>
</div>
<% }) %>

        </div>
    </section>

    <section id="ABOUT">
        <div class="About-header">
            <hr>
            <h2>ABOUT US</h2>
            <hr>
        </div>

    <div class="About-body">

        <div class="About-sidebar">
            <button
             class="About-tablinks"
            onclick="openTab(event, 'Mission')">
            Mission <i class="ri-arrow-right-line"></i>
        </button>
            <hr>
            <button
             onclick="openTab(event, 'Vision')"
             class="About-tablinks">Vision</button>
            <hr>
            <button
            onclick="openTab(event, 'Values')"
            class="About-tablinks">Values</button>
        </div>

        <div class="About-tab">
        <div id="Mission" class="About-tabcontent">
            Our mission is to elevate the quality of life of the urban consumer by offering unparalleled convenience. what makes us tick. It’s what makes us get out of bed and say, “Let’s do this.
        </div>

        <div id="Vision" class="About-tabcontent">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maxime laudantium saepe praesentium ipsa provident dolor quia deleniti ipsum quasi quo aperiam, velit aliquid, natus culpa, doloribus id dolorum suscipit magnam.
        </div>

        <div id="Values" class="About-tabcontent">
            Our actions are strongly defined by the Swiggy values. Through ups, downs, and everything in between; Swiggsters put these values into practice in their everyday ways of working. Read on to get a taste of how Swiggsters live and breathe these values and how it forms the backbone of our culture.
        </div>
</div>

        <div class="About-image">
            <img src="assets/scooter.png" alt="scotter image">
        </div>



        </div>

        <br><br><br>

        <hr>
    <div class="About-footer">
        <div class="About-footer_title">
            <h1>3 Billion+</h1>
            <h2>orders delivered</h2>
        </div>

        <div class="About-footer_title">
            <h1>220k+</h1>
            <h2>resturants partners</h2>
        </div>

        <div class="About-footer_title">
            <h1>520k+</h1>
            <h2>delivery partners</h2>
        </div>

        <div class="About-footer_title">
            <h1>680+</h1>
            <h2>cities in India</h2>
        </div>
    </div>
    <hr>
    </section>

    <section id="RESERVATION">
        <div class="About-header">
            <hr>
            <h2>RESERVATION</h2>
            <hr>
        </div>
        <hr>

        <div class="Reservation-body">
            <p>Home / India / <span>Nearby Resturants</span></p>

            <div class="Reservation-tabs">
                <button class="tab  active" onclick="openRTab(event, 'tabContent-1' )"><i class="ri-restaurant-2-fill"></i> Dinning Out</button>
                <button class="tab" onclick="openRTab(event, 'tabContent-2' )"><i class="ri-truck-line"></i> Delivery</button>
                <button class="tab" onclick="openRTab(event, 'tabContent-3' )"><i class="ri-beer-line"></i>  Nightlife</button>
            </div>

            <div id="tabContent-1" class="tabcontent">
                <div class="Menu-card">
                <div class="Menu-card_image">
                    <img src="assets/image 7.png" alt="pizzas img">
                    <h2>ITEMS AT $19 
                        <span style="float: right; transform: translateX(-20px);"><svg width="24" height="24" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
<circle cx="15" cy="15" r="15" fill="#FEBC2F"/>
<path d="M15.0001 20.8252L8.67922 24.5454L10.0909 17.0749L4.77274 11.9038L11.966 11.007L15.0001 4.09082L18.034 11.007L25.2273 11.9038L19.9092 17.0749L21.3209 24.5454L15.0001 20.8252Z" fill="white"/>
</svg> 4.4</span>
                    </h2>
                </div>

                <div class="Menu-card_body">
                    <div class="Menu-card_title">
                    <div style="display:flex; justify-content: space-between;"><span>Italian•Pizza</span> <span style="transform: translateX(50px);">$20 for two</span></div>

                    <div class="Menu-card_subtitles">Sector- 11, City <span style="float: right; transform: translateX(50px)">2.2 km</span></div>
                    
                    <button><i class="ri-calendar-check-line"></i>Seat Available</button>
                    </div>
                </div>
            </div>

                 <div class="Menu-card">
                <div class="Menu-card_image">
                    <img src="assets/image 7.png" alt="pizzas img">
                    <h2>ITEMS AT $19 
                        <span style="float: right; transform: translateX(-20px);"><svg width="24" height="24" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
<circle cx="15" cy="15" r="15" fill="#FEBC2F"/>
<path d="M15.0001 20.8252L8.67922 24.5454L10.0909 17.0749L4.77274 11.9038L11.966 11.007L15.0001 4.09082L18.034 11.007L25.2273 11.9038L19.9092 17.0749L21.3209 24.5454L15.0001 20.8252Z" fill="white"/>
</svg> 4.4</span>
                    </h2>
                </div>

                <div class="Menu-card_body">
                    <div class="Menu-card_title">
                    <div style="display:flex; justify-content: space-between;"><span>Italian•Pizza</span> <span style="transform: translateX(50px);">$20 for two</span></div>

                    <div class="Menu-card_subtitles">Sector- 11, City <span style="float: right; transform: translateX(50px)">2.2 km</span></div>
                    
                    <button style="opacity: 85%;"><i class="ri-calendar-close-line"></i>No Seat Available</button>

                    </div>
                </div>
            </div>

            </div>

            <div id="tabContent-2" class="tabcontent">Delivery</div>
            <div id="tabContent-3" class="tabcontent">NightLife</div>

        </div>
</section>


<%- include('./Layout/footer.ejs') %>

    <script src="scripts/AboutSidebar.js"></script>
    <!-- <script src="scripts/MenuCard.js"></script> -->
    <script src="scripts/Slider.js"></script>
    <script src="scripts/Reservation.js"></script>


    
</body>
</html>